@model IEnumerable<NewsAggregator.Models.NewsEntry>

@{
    ViewData["Title"] = "Index";
}

<h2>Новини</h2>

<table class="table">
    @*<thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>*@
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
        </tr>
}
    </tbody>
</table>
